* {
  margin-top: 0px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
}

.navbar {
  justify-content: center;
  margin: auto;
}

.navbar ul {
  margin-right: 2%;
}

.nav-item {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.navbar-collapse {
  margin-left: 2%;
}

.nav-item:after {
  display: block;
  content: "";
  margin: auto;
  border-bottom: solid 5px white;
  width: 70%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
}

.nav-link {
  color: black;
  font-weight: 400;
}

.nav-link:hover {
  color: white;
}

.landing {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(181%2c 202%2c 225%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c443.347C93.053%2c452.464%2c194.74%2c475.933%2c274.32%2c426.85C354.146%2c377.616%2c381.415%2c276.921%2c413.009%2c188.615C442.356%2c106.59%2c463.759%2c21.327%2c450.195%2c-64.728C436.741%2c-150.086%2c395.873%2c-228.746%2c337.222%2c-292.205C279.756%2c-354.382%2c202.472%2c-389.678%2c122.966%2c-418.784C38.647%2c-449.652%2c-47.35%2c-474.134%2c-136.747%2c-465.717C-239.562%2c-456.037%2c-365.016%2c-452.146%2c-423.885%2c-367.298C-483.47%2c-281.417%2c-399.496%2c-162.97%2c-418.155%2c-60.122C-437.952%2c49%2c-576.382%2c141.425%2c-534.834%2c244.251C-493.871%2c345.631%2c-344.295%2c338.137%2c-241.822%2c376.283C-161.807%2c406.069%2c-84.972%2c435.022%2c0%2c443.347' fill='%235b8abd'%3e%3c/path%3e%3cpath d='M1440 936.1469999999999C1508.953 929.504 1550.896 860.196 1605.671 817.789 1654.951 779.636 1710.634 751.155 1745.589 699.558 1784.998 641.386 1834.733 573.79 1817.041 505.79 1799.217 437.281 1707.9279999999999 421.451 1659.742 369.592 1613.9859999999999 320.347 1606.122 232.55 1542.634 210.462 1479.338 188.44099999999997 1415.336 238.87400000000002 1352.728 262.78 1295.2350000000001 284.733 1237.091 303.361 1191.393 344.581 1141.437 389.642 1093.512 442.305 1080.521 508.315 1067.2730000000001 575.633 1089.551 644.668 1120.261 706.02 1150.232 765.8969999999999 1198.115 812.701 1252.461 851.816 1309.242 892.683 1370.363 942.856 1440 936.1469999999999' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); /* background: #f5f5f5; */
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 70% !important;
  margin: auto;
}

.landing-text {
  width: 80%;
  font-weight: 600;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}

.name h1 {
  font-size: 5rem;
}

.short-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-bio p {
  font-size: 2rem;
  width: 50%;
  font-weight: 500;
}

.socials {
  display: flex;
}

.socials a {
  font-size: 3rem;
  margin: 10%;
}

.socials a:hover {
  transform: scale(1.25);
}

.about {
  height: 60vh;
  /* background: #f5f5f5; */
}

.about-content {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  padding: 3%;
}

.about-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  font-size: 1.2rem;
}

.skills {
  background: #f0f0f0;
  height: 70vh;
}

.skills-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills-details {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 350px);
}

.skill {
  justify-self: center;
  background: white;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Open Sans", sans-serif;
}

.skill-header {
  padding: 10px;
  background: #f0f8ff;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  font-weight: 400;
}

.skill-text {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 80%;
  font-size: 1.1rem;
}

.skill:hover {
  transform: scale(1.1);
}
