* {
  margin-top: 0px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'  preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(180%2c 202%2c 225%2c 1)'%3e%3c/rect%3e%3cpath d='M25 250L275 0L332 0L82 250z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M258.6 250L508.6 0L655.6 0L405.6 250z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M510.20000000000005 250L760.2 0L956.7 0L706.7 250z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M719.8000000000001 250L969.8000000000001 0L1230.8000000000002 0L980.8000000000001 250z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M1432 250L1182 0L1030.5 0L1280.5 250z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3cpath d='M1163.4 250L913.4000000000001 0L875.9000000000001 0L1125.9 250z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3cpath d='M953.8 250L703.8 0L610.8 0L860.8 250z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3cpath d='M683.1999999999999 250L433.19999999999993 0L305.69999999999993 0L555.6999999999999 250z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3cpath d='M1194.4165203594314 250L1440 4.416520359431303L1440 250z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M0 250L245.5834796405687 250L 0 4.416520359431303z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.section-title {
  text-align: center;
  font-size: 2rem;
  padding: 3%;
}

/* Landing */

.corner-name {
  font-size: 2.5rem;
  position: fixed;
  margin: 2%;
  display: none;
}

.navbar {
  justify-content: center;
  margin: auto;
}

.navbar ul {
  margin-right: 2%;
  flex-direction: row;
}

.nav-item {
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  margin: 2%;
}

.navbar-collapse {
  margin-left: 2%;
}

.nav-item:after {
  display: block;
  content: "";
  margin: auto;
  border-bottom: solid 5px white;
  width: 70%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
}

.nav-link {
  color: black;
  font-weight: 400;
}

.nav-link:hover {
  color: white;
}

.landing {
  height: 100vh;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90% !important;
  margin: auto;
}

.landing-text {
  width: 100%;
  font-weight: 600;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

.name h1 {
  font-size: 3rem;
}

.short-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-bio p {
  font-size: 1.1rem;
  width: 100%;
  font-weight: 500;
}

.socials {
  display: flex;
}

.socials a {
  font-size: 2rem;
  margin: 10%;
}

/*  */

/* Skills */
.skills {
  margin-bottom: 5%;
}

.skills-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills-details {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.skill {
  justify-self: center;
  background: white;
  height: 320px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Open Sans", sans-serif;
}

.skill-header {
  padding: 10px;
  background: #f0f8ff;
  text-align: center;
  font-size: 2rem;
  color: black;
  font-weight: 400;
}

.skill-text {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 80%;
  font-size: 1rem;
}

.about {
  margin-bottom: 5%;
}

.about-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.about-selection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.selections {
  display: grid;
  margin: auto;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 5%;
}

.selection {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 85px;
  height: 85px;
  margin: 1%;
  background: white;
  border: 5px solid #f0f8ff;
  border-radius: 10px;
}

.selection:hover {
  animation: pulse 0.75s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  background: #f0f8ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 5px solid white;
  border-radius: 10px;
  width: 600px;
  min-height: 200px;
  height: 100%;
  padding: 2%;
}

.skylls {
  font-size: 1.5rem;
}

.selection-header {
  text-align: center;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: black;
}

.about-text > div {
  display: none;
}
/*  */

/* Projects */

.project {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 7%;
  background: #f0f8ff;
  border: 5px solid white;
  padding: 2%;
  border-radius: 10px;
}
.fa-arrow-left,
.fa-arrow-right {
  font-size: 1.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  background: black;
  width: 5%;
  /* border-radius: 20px; */
}

.projects {
  border-radius: 10px;
  width: 90%;
  margin: auto;
}
.carousel {
  width: 90%;
  margin: auto;
}

/*  */

/* Media Queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    /* color: red; */
  }
  .section-title {
    text-align: center;
    font-size: 3rem;
    padding: 3%;
  }
  .short-bio p {
    font-size: 1.4rem;
    width: 60%;
    font-weight: 500;
  }

  .name {
    margin-bottom: 2%;
  }

  .name h1 {
    font-size: 4rem;
  }
  .socials a {
    font-size: 2.5rem;
    margin: 10%;
  }
  .nav-item {
    font-size: 1.4rem;
    font-family: "Quicksand", sans-serif;
    margin: 2%;
  }
  .skills-details {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .skill {
    height: 320px;
    width: 230px;
  }

  .skill-header {
    font-size: 2rem;
  }

  .skill-text {
    font-size: 1rem;
  }
  .about-content {
    /* background: white; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about-selection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    /* background: yellow; */
  }

  .selections {
    display: grid;
    /* background: chartreuse; */
    width: 500px;
    height: 400px;
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: none;
    grid-gap: 1rem;
    justify-content: flex-end;
    align-content: center;
    padding: 50px;
  }

  .selection {
    width: 200px;
    height: 100%;
    background: white;
    border: 5px solid #f0f8ff;
    border-radius: 10px;
  }

  .selection:hover {
    animation: pulse 0.75s infinite;
    animation-timing-function: linear;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .about-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .about-text {
    background: #f0f8ff;
    border: 5px solid white;
    border-radius: 10px;
    width: 500px;
    height: 475px;
  }

  .selection-header {
    text-align: center;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: black;
  }

  .about-text > div {
    display: none;
  }

  .projects {
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    /* color: blue; */
  }
  .socials a:hover {
    transform: scale(1.25);
  }
  .short-bio p {
    font-size: 1.7rem;
    width: 50%;
    font-weight: 500;
  }
  .name h1 {
    font-size: 4rem;
  }
  .socials a {
    font-size: 3rem;
    margin: 10%;
  }
  .nav-item {
    font-size: 1.7rem;
    font-family: "Quicksand", sans-serif;
    margin: 2%;
  }

  .skill:hover {
    transform: scale(1.1);
  }

  .skill {
    height: 350px;
    width: 300px;
  }

  .skills {
    margin-bottom: 2%;
  }

  .skill-header {
    font-size: 2.5rem;
  }

  .skill-text {
    font-size: 1.1rem;
  }

  .about {
    margin-bottom: 2%;
  }

  .about-text {
    width: 700px;
    height: 375px;
  }
  .projects {
    width: 80%;
    margin: auto;
  }
  .project-info {
    font-size: 1.5rem;
  }
  .project-info h4 {
    font-size: 2rem;
  }
  .projects {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1441px) {
  body {
    /* color: yellow; */
  }

  .navbar {
    justify-content: center;
    margin: auto;
  }

  .navbar ul {
    margin-right: 2%;
  }

  .nav-item {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
  }

  .navbar-collapse {
    margin-left: 2%;
  }

  .nav-item:after {
    display: block;
    content: "";
    margin: auto;
    border-bottom: solid 5px white;
    width: 70%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .nav-item:hover:after {
    transform: scaleX(1);
  }

  .nav-link {
    color: black;
    font-weight: 400;
  }

  .nav-link:hover {
    color: white;
  }

  .landing {
    height: 100vh;
  }

  .landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 70% !important;
    margin: auto;
  }

  .landing-text {
    width: 80%;
    font-weight: 600;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
  }

  .name h1 {
    font-size: 5rem;
  }

  .short-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .short-bio p {
    font-size: 2rem;
    width: 50%;
    font-weight: 500;
  }

  .socials {
    display: flex;
  }

  .socials a {
    font-size: 3rem;
    margin: 10%;
  }

  .socials a:hover {
    transform: scale(1.25);
  }

  .section-title {
    text-align: center;
    font-size: 3rem;
    padding: 3%;
  }

  .skills {
  }

  .skills-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .skills-details {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
  }

  .skill {
    justify-self: center;
    background: white;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "Open Sans", sans-serif;
  }

  .skill-header {
    padding: 10px;
    background: #f0f8ff;
    text-align: center;
    font-size: 2.5rem;
    color: black;
    font-weight: 400;
  }

  .skill-text {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 80%;
    font-size: 1.1rem;
  }

  .skill:hover {
    transform: scale(1.1);
  }
  .projects {
    width: 50%;
  }
  .interests {
    font-size: 1.2rem;
  }

  .contact {
    font-size: 1.2rem;
  }
}
