* {
  margin-top: 0px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
}

.navbar {
  justify-content: center;
  margin: auto;
}

.navbar ul {
  margin-right: 2%;
}

.nav-item {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.navbar-collapse {
  margin-left: 2%;
}

.nav-item:after {
  display: block;
  content: "";
  margin: auto;
  border-bottom: solid 5px #019fb6;
  width: 70%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
}

.nav-link {
  color: black;
  font-weight: 400;
}

.nav-link:hover {
  color: #019fb6;
}

.landing {
  height: 100vh;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: auto;
}

.landing-text {
  width: 80%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}

.name h1 {
  font-size: 5rem;
}

.short-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-bio p {
  font-size: 2rem;
  width: 50%;
  font-weight: 500;
}

.socials {
  display: flex;
}

.socials a {
  font-size: 3rem;
  margin: 10%;
}

.socials a:hover {
  transform: scale(1.25);
}

.about {
  height: 60vh;
  background: #f5f5f5;
}

.about-content {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about h1 {
  text-align: center;
  font-size: 3rem;
  padding: 3%;
}

.about-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  font-size: 1.2rem;
}

.skills {
  height: 60vh;
}
